.infographic
	display: flex
	min-height: 100vh
	flex-direction: column
	justify-content: space-between
	overflow: hidden
	& > .info-main
		display: flex
		flex-direction: column
		justify-content: flex-start
	& > .info-content
		display: flex
		flex-direction: column
		justify-content: flex-end
	