
	
body
	height: 100%
	margin: 0

#app
	background: linear-gradient(to top, rgba(0, 0, 0, 87.5%) 75%, rgba(0, 0, 0, 98.5%) 100%), url(https://www.nasa.gov/images/content/627360main_potw1209a.jpg)
	background-size: fit
	background-blend-mode: multiply
	font-family: 'MPLUS1p', sans-serif
